{% for node in nodes %}
upstream {{node.vhost}}_upstream {
{% for member in node.members %}
	server {{member.ip}}:{{member.port}};
{% endfor %}
}

server {
	server_name {{node.vhost}};
	listen 80;
	access_log /var/log/nginx/{{node.vhost}}.access.log;
	error_log /var/log/nginx/{{node.vhost}}.error.log;
	location / {
		include proxy_params;
		proxy_pass http://{{node.vhost}}_upstream;
	}
}

{% endfor %}